# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment
.env

# Database
*.db

# Alembic
# We typically don't ignore the migrations folder
# but you can specify certain files if necessary
# migrations/versions/*  (if you have specific files you want to ignore)

# IDEs
.vscode/
.idea/

# System files
.DS_Store

venv/